.FormField {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 5px;
}

.FormRow {
  display: flex;
  align-items: center;
}

.FormColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5px;
}

.Form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}

.FormTitleRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.FormTitle {
  font-weight: 700;
}
.FormLink {
  font-size: 50%;
  cursor: pointer;
  text-decoration: underline;
}

.FormError {
  color: crimson;
  padding-top: 10px;
  font-size: 70%;
  height: 15px;
}

.FormSubmit {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 50%;
  border: 1px solid cornflowerblue;
}

.FormButton {
  flex-basis: 50px;
}

.FormEdit {
  padding: 5px;
  width: 20px;
  border: 1px solid cornflowerblue;
}
